<div>
    <button (click)="goBack()">Go Back</button>
    <h1 class="title">#{{pokemonInformation.id}}  {{pokemonInformation.name}}</h1>
    <div class="container">
        <div class="image card">
            <img src="{{pokemonInformation.image}}">
        </div>
        <div class="description card">
            <app-description-card [description]="pokemonInformation.description"></app-description-card>
        </div>
        <div class="info card">
            <app-general-information-card [pokemonInfo]="pokemonInformation"></app-general-information-card>
        </div>
        <div class="tags card">
            <app-type-card [types]="pokemonInformation.types"></app-type-card>
        </div>
        <div class="stats card">
            <app-stats-card [pokemonStats]="pokemonInformation.stats"></app-stats-card>
        </div>
        <div class="evolution card">
            <app-evolution-card [evolutions]="pokemonInformation.evolution"></app-evolution-card>
        </div>
    </div>
</div>