<div>
    <h1>Pokemon profile</h1>
    <button (click)="goBack()">Go Back</button>
    <div class="container">
        <div class="image card"></div>
        <div class="description card">
            <app-description-card [description]="pokemonInformation.description"></app-description-card>
        </div>
        <div class="info card">
        </div>
        <div class="tags card"></div>
        <div class="stats card">
            <app-stats-card [pokemonStats]="pokemonInformation.stats"></app-stats-card>
        </div>
    </div>
</div>