.pokemon-card {
    margin: 16px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &_name {
        font-size: large;
        text-transform: capitalize;
    }

    &_number {
        font-size: small;
    }

    p{
        font-family: Roboto;
        margin: 0 0 16px 0;
    }
}

.pokemon-card:hover {
    overflow: hidden;
    transform: scale(1.05);
    box-shadow: 0 0 16px 8px #ebebeb;
    transition: all 0.3s ease;
 }



