.form-container {
    background: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 16px 8px #ebebeb;
    padding: 24px;
    display: flex;
    justify-content: center;
    width: min-content;
    margin: auto;
    margin-top: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.capitalize {
    text-transform: capitalize;
}