body {        
    margin: 0;
}
.container {
    display: grid;
    grid-template-rows: 64px auto auto;
    grid-template-areas: "header" "main" "footer";
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
}
.main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgb(167, 167, 167);
    padding: 8px 32px;
}

.header>.header_logo>.header_logo-image {
    max-height: 100%;
}

.header_button {
    display: flex;
    flex-flow: row;
    padding: 8px;
    border-radius: 12px;
}

.header_button-text {
    margin: 0 0 0 8px;
    align-self: center;
}
.header_button:hover {
    background-color: #e7e7e7;
}
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgb(167, 167, 167);
    padding: 8px 32px;
}
.footer > * {
    flex:  1;
}
.footer>.footer_social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.footer>.footer_info {
    text-align: center;
    padding: 0 32px;
}
.footer>.footer_links {
    display: flex;
    justify-content: space-evenly;
}
.fa {
    margin: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}
.fa:hover {
    opacity: 0.5;
}