.container {
    display: grid;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
    grid-template-areas: "header" "main" "footer";
}
.main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header {
    grid-area: header;
    /* grid-row: 1 / 2; */
}
.footer {
    grid-area: footer;
    /* grid-row: 4 / 5; */
}