.footer {
    position: relative;
    margin-top: 32px;
    bottom: 0;
    height: 4rem;
    background-color: rgb(63, 81, 181);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
    color: #fff;
    * {
        flex:  1;
    }
    .footer_social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .fa {
            text-decoration: none;
            border-radius: 50%;
            color: #fff;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .footer_info {
        text-align: center;
        padding: 0 16px;
    }
    .footer_links {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 8px;
    }
}